{{!-- app.get("/", (req, res, next) => res.render("index")); --}}

<title>Home</title>

<div class="centered">
    <img src='images/beer.png' alt='beer image' />

    <div class="btns">
        <a href='/beers'>Check the Beers!</a>
        <a href='/random-beer'>Check a Random Beer!</a>
    </div>
</div>